{% extends "base.html" %}
{% block content %}
<!-- Import Orbit javascript library. For further info, check: https://docs.withorbit.com/ -->
<script type="module" src="https://js.withorbit.com/orbit-web-component.js"></script>

<!-- Page Content -->
<section>
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card shadow">
                    <!-- Collapse -->
                    <div class="collapse d-md-block" id="sidenavCollapse">
                        <div class="card-header">
                            <h4>Sections</h4>
                        </div>
                        <div class="card-body">
                            <ul class="card-list list">
                                <li class="list-item lift"><a class="list-link text-reset"
                                        href="{{ url_for('election_pages.past_elections') }}">Past elections</a></li>
                                <li class="list-item lift"><a class="list-link text-reset"
                                        href="{{ url_for('election_pages.current_elections') }}">Current elections</a>
                                </li>
                                <li class="list-item lift"><a class="list-link text-reset"
                                        href="{{ url_for('election_pages.my_elections') }}">My elections</a></li>
                                <li class="list-item active lift"><a class="list-link text-reset"
                                        href="{{ url_for('election_pages.create_elections') }}">Create elections</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="card shadow">
                    <div class="card-header">
                        <h4>Create elections</h4>
                    </div>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                <h5>NOOT NOOT</h5>
                            </div>
                            <div class="list-group-item">
                                <button style="float: right; margin-left: 5px" type="submit"
                                    class="btn btn-outline-danger btn-sm lift">Submit</button>
                                <a href="{{ url_for('my_pages.mypage') }}"><button style="float: right" type="button"
                                    class="btn btn-outline-success btn-sm lift">Cancel</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}