{% extends "base.html" %}
{% block content %}
<!-- Import Orbit javascript library. For further info, check: https://docs.withorbit.com/ -->
<script type="module" src="https://js.withorbit.com/orbit-web-component.js"></script>

<!-- Page Content -->
<section>
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card shadow">
                    <!-- Collapse -->
                    <div class="collapse d-md-block" id="sidenavCollapse">
                        <div class="card-header">
                            <h4>Sections</h4>
                        </div>
                        <div class="card-body">
                            <ul class="card-list list">
                                <li class="list-item lift"><a class="list-link text-reset"
                                        href="{{ url_for('election_pages.past_elections') }}">Past elections</a></li>
                                <li class="list-item active lift"><a class="list-link text-reset"
                                        href="{{ url_for('election_pages.current_elections') }}">Current elections</a></li>
                                <li class="list-item lift"><a class="list-link text-reset"
                                        href="{{ url_for('election_pages.my_elections') }}">My elections</a></li>
                                <li class="list-item lift"><a class="list-link text-reset"
                                        href="{{ url_for('election_pages.create_elections') }}">Create elections</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="card shadow">
                    <div class="card-header">
                        <h4>Current elections</h4>
                    </div>
                    <div class="card-body">
                        <div class="list-group list-group-flush" id="current_election_list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- JAVASCRIPT -->
<script src="{{ url_for('static', filename='assets/js/current_elections.js') }}"></script>
{% endblock %}