{% extends "base.html" %}
{% block content %}
<!-- Import Orbit javascript library. For further info, check: https://docs.withorbit.com/ -->
<script type="module" src="https://js.withorbit.com/orbit-web-component.js"></script>

<!-- Page Content -->
<div class="py-5 container">
    <h1>Elections</h1>
    <h2>View Elections</h2>
    <button
          type="button"
          class="btn btn-success"
          id="elections_refresh"
          onclick="refresh_elections()"
    >
    Refresh elections!
    </button>
    <table class="table mt-3">
      <thead class="thead-dark">
          <tr>
            <th scope="col">Election name</th>
            <th scope="col">Election prompt</th>
            <th scope="col">User</th>
            <th scope="col">Yes count</th>
            <th scope="col">No count</th>
          </tr>
        </thead>
        <tbody id="election_list">
          <tr>
            <td>Election name</td>
            <td>Election prompt</td>
            <td>User</td>
            <td>Yes count</td>
            <td>No count</td>
          </tr>
          <tr>
            <td>Election name</td>
            <td>Election prompt</td>
            <td>User</td>
            <td>Yes count</td>
            <td>No count</td>
          </tr>
          <tr>
            <td>Election name</td>
            <td>Election prompt</td>
            <td>User</td>
            <td>Yes count</td>
            <td>No count</td>
          </tr>
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock %}