{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="container">
            <div class="card shadow">
                <div class="card-header">
                    <h2>Name of election</h2>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <div class="list-group-item" id="election_prompt">
                            <h3>Election prompt</h3>
                            <br>
                            <h5>Details.</h5>
                        </div>
                        <div class="list-group-item" id="yes_votes">
                            <h3>Number of Yes Votes</h3>
                            <br>
                            <h5>823451</h5>
                        </div>
                        <div class="list-group-item" id="pie_chart">
                            <h3>Pie chart</h3>
                            <br>
                            <canvas id="pieChart" width="20%" height="20%"></canvas>
                        </div>
                        <div class="list-group-item" id="bar_chart">
                            <h3>Bar chart</h3>
                            <br>
                            <canvas id="barChart" width="20%" height="20%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="{{ url_for('static', filename='assets/js/view_election_details.js') }}"></script>
{% endblock %}
