{% extends "base.html" %}
{% block content %}
<div class="py-5">
    <div class="card bg-dark-subtle">
      <div class="card-body">
        <h1 class="card-title">Cast vote</h1>
        <form>
          <div class="form-group">
            <label for="election_vote_name"
              >Choose an election name:</label
            >
            <input
              type="text"
              class="form-control"
              id="election_vote_name"
              name="election_vote_name"
            />
          </div>
          <div class="form-group">
            <label for="election_vote_username"
              >Choose an election username:</label
            >
            <input
              type="text"
              class="form-control"
              id="election_vote_username"
              name="election_vote_username"
            />
          </div>
          <div class="form-group">
            <label for="election_vote_private_key"
              >Choose an election private-key:</label
            >
            <textarea
              class="form-control"
              id="election_vote_private_key"
              name="election_vote_private_key"
              rows="4"
              cols="50"
            ></textarea>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="Yes"
              name="vote_value"
              value="yays"
            />
            <label class="form-check-label" for="yays">Yes</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="No"
              name="vote_value"
              value="nays"
            />
            <label class="form-check-label" for="nays">No</label>
          </div>
          <button
            type="button"
            class="btn btn-primary"
            onclick="submit_vote()"
          >
            Submit vote!
          </button>
        </form>
      </div>
    </div>
</div>

<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock %}