{% extends "base.html" %}
{% block content %}
<!-- Import Iconify SVG framework -->
<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

<!-- Page Content -->
<section>
  <div class="container">
    <br>
    <br>
    <br>
    <div class="row">
      <div class="container">
        <div class="card shadow">
          <div class="card-header">
            <h3>General</h3>
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush">
              <div class="list-group-item">
                <h5>Your userID:</h5>
                <h5 class="small text-success">{{ userID }}</h5>
              </div>
              <div class="list-group-item">
                <h5>Your username:</h5>
                <h5 class="small text-success">{{ userName }}</h5>
              </div>
              <div class="list-group-item">
                <h5>Your password:</h5>
                <h5 class="small text-success">*******</h5>
              </div>
              <div class="list-group-item">
                <h5>Your full name:</h5>
                <h5 class="small text-success">{{ userFullName }}</h5>
              </div>
              <div class="list-group-item">
                <h5>Your email address:</h5>
                <h5 class="small text-success">{{ userEmail }}</h5>
              </div>
              <div class="list-group-item">
                <h5>Your public key:</h5>
                <h5 class="small text-success">{{ userPublicKey }}</h5>
              </div>
              <div class="list-group-item">
                <h5>Your private key:</h5>
                <h5 class="small text-success">{{ userPrivateKey }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h5 class="small text-gray-700" style="float:right;">
      If you do not want to use <strong>Simayi</strong> anymore, you may
      <a class="text-danger" href="{{ url_for('my_pages.delete_account') }}">delete your account permanently</a>.
    </h5>
  </div>
  </div>
</section>
{% endblock %}