{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<section>
  <div class="container">
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="list-group shadow">
          <div class="list-group-item">
            <h1 class="text-center">Sign in</h1>
            <br>
            <!-- UserName -->
            <div class="form-group">
              <label class="form-label" for="id"> Your username </label>
              <input type="text" class="form-control form-control-sm" name="userName" id="userName"
                placeholder="Enter your username" />
            </div>

            <!-- Password -->
            <div class="form-group">
              <label class="form-label" for="password">Your password </label>
              <input type="password" class="form-control form-control-sm" id="password" name="password"
                placeholder="Enter your password" />
            </div>
            <br>

            <!-- Buttons -->
            <div class="form-group">
              <button class="btn btn-sm w-100 btn-success lift" type="button" onclick="signIn()">Sign in</button>
              <br>
              <br>
              <a href="{{ url_for('signup') }}">
                <button class="btn btn-sm w-100 btn-outline-secondary lift" type="button">Sign up</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- JAVASCRIPT -->
<script src="{{ url_for('static', filename='assets/js/signin.js') }}"></script>
{%endblock%}